{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Weather App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script>
    	function get_ip(json) {
    		alert("Your IP Address is: " + json.ip);
    	}
    </script>

	<script src="https://api.ipify.org?format=jsonp&callback=get_ip"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>